flask==3.1.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-migrate==4.1.0
flask-wtf==1.3.0
flask-limiter==4.1.1
authlib==1.8.0
requests==2.34.2
python-dotenv==1.2.2
pdfplumber==0.11.10
gunicorn==26.0.0
